html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  /* typography */
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 14px;

  /* background */
  background-color: hsl(229, 57%, 11%);
  background-image: url("images/bg-desktop.png");
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: bottom left -1%; /* place image in bottom with slight gap from left */
}

/* body content  */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* This pushes footer down */
  padding: 20px;
}

section {
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.left-column {
  margin-bottom: 26px;
  margin-right: 20px;
  border-top-right-radius: 70px;
  height: 117px;
  width: 16%;
}

/* Footer css */
footer {
  color: white;
  text-align: center;
  padding: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
